In [130]:
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [131]:
#from sklearn.datasets import load_boston
#boston =load_boston()
# Data Preprocessing from csv file
dataset = pd.read_csv('Automobile_price_data _Raw_set.csv')

In [153]:
dataset

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [133]:
print(dataset.isnull().values.sum())

67

In [134]:
print(dataset.isnull().sum())

symboling             0
normalized-losses    41
make                  4
fuel-type             1
aspiration            1
num-of-doors          2
body-style            1
drive-wheels          0
engine-location       1
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [154]:
dataset["make"].fillna("no make", inplace = True) 
dataset["body-style"].fillna("no body-style", inplace = True) 
dataset

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [136]:
dataset.mean()

symboling                0.834146
normalized-losses      122.000000
wheel-base              98.756585
length                 174.049268
width                   65.907805
height                  53.724878
curb-weight           2555.565854
engine-size            126.907317
bore                     3.329751
stroke                   3.255423
compression-ratio       10.142537
horsepower             104.256158
peak-rpm              5125.369458
city-mpg                25.219512
highway-mpg             30.751220
price                13207.129353
dtype: float64

In [155]:
dataset.fillna(dataset.mean())

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [156]:
#dataset.fillna(dataset.mean())
auto=pd.DataFrame(dataset.fillna(dataset.mean()))
auto

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,-1,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,-1,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,-1,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [148]:
dataset.describe()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
count,205.000000,164.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,201.000000,201.000000,205.000000,203.000000,203.000000,205.000000,205.000000,201.000000
mean,0.834146,122.000000,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329751,3.255423,10.142537,104.256158,5125.369458,25.219512,30.751220,13207.129353
std,1.245307,35.442168,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.273539,0.316717,3.972040,39.714369,479.334560,6.542142,6.886443,7947.066342
min,-2.000000,65.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7775.000000
50%,1.000000,115.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,150.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.590000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16500.000000
max,3.000000,256.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [149]:
dataset.keys()

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [150]:
dataset.shape

(205, 26)

In [151]:
#auto=pd.DataFrame(dataset)
#auto.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0

In [157]:
D=auto.drop(['price','symboling','normalized-losses','fuel-type', 'aspiration', 'num-of-doors','drive-wheels',
            'engine-location',  'num-of-doors', 'drive-wheels', 'engine-location', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'fuel-system', 'bore', 'stroke','compression-ratio', 'city-mpg'], axis = 1)

In [158]:
D

,make,body-style,wheel-base,engine-size,horsepower,peak-rpm,highway-mpg
0,alfa-romero,convertible,88.6,130,111.0,5000.0,27
1,alfa-romero,convertible,88.6,130,111.0,5000.0,27
2,alfa-romero,hatchback,94.5,152,154.0,5000.0,26
3,audi,sedan,99.8,109,102.0,5500.0,30
4,audi,sedan,99.4,136,115.0,5500.0,22
...,...,...,...,...,...,...,...
200,volvo,sedan,109.1,141,114.0,5400.0,28
201,volvo,sedan,109.1,141,160.0,5300.0,25
202,volvo,sedan,109.1,173,134.0,5500.0,23
203,volvo,sedan,109.1,145,106.0,4800.0,27
204,volvo,sedan,109.1,141,114.0,5400.0,25

In [110]:
D.describe()

       wheel-base  engine-size  horsepower     peak-rpm  highway-mpg
count  205.000000   205.000000  203.000000   203.000000   205.000000
mean    98.756585   126.907317  104.256158  5125.369458    30.751220
std      6.021776    41.642693   39.714369   479.334560     6.886443
min     86.600000    61.000000   48.000000  4150.000000    16.000000
25%     94.500000    97.000000   70.000000  4800.000000    25.000000
50%     97.000000   120.000000   95.000000  5200.000000    30.000000
75%    102.400000   141.000000  116.000000  5500.000000    34.000000
max    120.900000   326.000000  288.000000  6600.000000    54.000000

In [81]:
D.describe()

       wheel-base  engine-size  horsepower     peak-rpm  highway-mpg
count  205.000000   205.000000  203.000000   203.000000   205.000000
mean    98.756585   126.907317  104.256158  5125.369458    30.751220
std      6.021776    41.642693   39.714369   479.334560     6.886443
min     86.600000    61.000000   48.000000  4150.000000    16.000000
25%     94.500000    97.000000   70.000000  4800.000000    25.000000
50%     97.000000   120.000000   95.000000  5200.000000    30.000000
75%    102.400000   141.000000  116.000000  5500.000000    34.000000
max    120.900000   326.000000  288.000000  6600.000000    54.000000

In [159]:
X=D[['make', 'body-style', 'wheel-base', 'engine-size', 'horsepower', 'peak-rpm', 'highway-mpg' ]]
y=dataset['price']

In [160]:
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [162]:
#--print(dataset.info())
print(D.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 7 columns):
make           205 non-null object
body-style     205 non-null object
wheel-base     205 non-null float64
engine-size    205 non-null int64
horsepower     205 non-null float64
peak-rpm       205 non-null float64
highway-mpg    205 non-null int64
dtypes: float64(3), int64(2), object(2)
memory usage: 11.3+ KB
None

In [163]:
print(D.isnull().values.sum())

0

In [164]:
print(D.isnull().sum())

make           0
body-style     0
wheel-base     0
engine-size    0
horsepower     0
peak-rpm       0
highway-mpg    0
dtype: int64

In [93]:
#["make"].fillna("no make", inplace = True) 
#D["body-style"].fillna("no body-style", inplace = True) 
#--D.head()

,make,body-style,wheel-base,engine-size,horsepower,peak-rpm,highway-mpg
0,alfa-romero,convertible,88.6,130,111.0,5000.0,27
1,alfa-romero,convertible,88.6,130,111.0,5000.0,27
2,alfa-romero,hatchback,94.5,152,154.0,5000.0,26
3,audi,sedan,99.8,109,102.0,5500.0,30
4,audi,sedan,99.4,136,115.0,5500.0,22

In [21]:
#D=D.fillna(D['horsepower'].value_counts().index[0])

In [22]:
#print(D.isnull().sum())

make           0
body-style     0
wheel-base     0
engine-size    0
horsepower     0
peak-rpm       0
highway-mpg    0
dtype: int64

In [88]:
D.head()

,make,body-style,wheel-base,engine-size,horsepower,peak-rpm,highway-mpg
0,alfa-romero,convertible,88.6,130,111.0,5000.0,27
1,alfa-romero,convertible,88.6,130,111.0,5000.0,27
2,alfa-romero,hatchback,94.5,152,154.0,5000.0,26
3,audi,sedan,99.8,109,102.0,5500.0,30
4,audi,sedan,99.4,136,115.0,5500.0,22

In [165]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder(sparse=False)

In [166]:
ohe.fit_transform(D[['make']])

array([[1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [167]:
ohe.fit_transform(D[['body-style']])

array([[1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       ...,
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1., 0.]])

In [168]:
D_onehot = D.copy()
D_onehot = pd.get_dummies(D_onehot, columns=['make','body-style'], prefix = ['make','body-style'], drop_first=True )

print(D_onehot.head())

   wheel-base  engine-size  horsepower  peak-rpm  highway-mpg  make_audi  \
0        88.6          130       111.0    5000.0           27          0
1        88.6          130       111.0    5000.0           27          0
2        94.5          152       154.0    5000.0           26          0
3        99.8          109       102.0    5500.0           30          1
4        99.4          136       115.0    5500.0           22          1

   make_bmw  make_chevrolet  make_dodge  make_honda  ...  make_saab  \
0         0               0           0           0  ...          0
1         0               0           0           0  ...          0
2         0               0           0           0  ...          0
3         0               0           0           0  ...          0
4         0               0           0           0  ...          0

   make_subaru  make_toyota  make_volkswagen  make_volvo  body-style_hardtop  \
0            0            0                0           0                   0
1            0            0                0           0                   0
2            0            0                0           0                   0
3            0            0                0           0                   0
4            0            0                0           0                   0

   body-style_hatchback  body-style_no body-style  body-style_sedan  \
0                     0                         0                 0
1                     0                         0                 0
2                     1                         0                 0
3                     0                         0                 1
4                     0                         0                 1

   body-style_wagon
0                 0
1                 0
2                 0
3                 0
4                 0

[5 rows x 32 columns]

In [169]:
newD_onehot=pd.concat([D_onehot],axis=1)

In [172]:
#preprocessor.fit_transform(newD_onehot)

In [38]:
#newD=pd.DataFrame(D_onehot, columns=['make', 'body-style', 'wheel-base', 'engine-size', 'horsepower', 'peak-rpm', 'highway-mpg' ])

In [171]:
newD_onehot

,wheel-base,engine-size,horsepower,peak-rpm,highway-mpg,make_audi,make_bmw,make_chevrolet,make_dodge,make_honda,...,make_saab,make_subaru,make_toyota,make_volkswagen,make_volvo,body-style_hardtop,body-style_hatchback,body-style_no body-style,body-style_sedan,body-style_wagon
0,88.6,130,111.0,5000.0,27,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,88.6,130,111.0,5000.0,27,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,94.5,152,154.0,5000.0,26,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,99.8,109,102.0,5500.0,30,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,99.4,136,115.0,5500.0,22,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,109.1,141,114.0,5400.0,28,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
201,109.1,141,160.0,5300.0,25,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
202,109.1,173,134.0,5500.0,23,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
203,109.1,145,106.0,4800.0,27,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
204,109.1,141,114.0,5400.0,25,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
X=newD_onehot[['make', 'body-style', 'wheel-base', 'engine-size', 'horsepower', 'peak-rpm', 'highway-mpg' ]]
y=dataset['price']
from sklearn.model_selection import train_test_split
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [52]:
#D_onehot= pd.concat([D_onehot,axis=1)
#D_onehot = pd.get_dummies(D_onehot, columns=['make','body-style'], prefix = ['make','body-style'])
regressor = LinearRegression()

In [ ]:
regressor.fit(X_train,y_train)

In [ ]:
regressor = LinearRegression.
#regressor = regressor.fit(X_train, Y_train)
#Xnew, _ = make_regression(n_samples=3, n_features=2, noise=0.1, random_state=1)
# make a prediction
#ynew = model.predict(Xnew)

In [12]:
#df_x=pd.DataFrame(boston.data,columns=boston.feature_names)
#df_y=pd.DataFrame(boston.target)

# Predecting the Result
Y_pred = regressor.predict(X_test)

In [ ]:
Y_pred

In [ ]:
Y_pred[0]

In [ ]:
Y_pred[0]

In [ ]:
Y_test

In [ ]:
#mean square error
np.mean((Y_pred-Y_test)**2)